<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.mapper.AuthTokenMapper">

    <select id="selectAuthTokenByUsername" resultType="com.demo.entity.AuthToken">
        SELECT *
        FROM cb_auth_token
        WHERE username = #{username}
    </select>

    <insert id="addAuthToken">
        INSERT INTO cb_auth_token
        (username,
        token)
        VALUES (#{authToken.username},
        #{authToken.token})
    </insert>

    <delete id="deleteAuthTokenByUserId">
        DELETE
        FROM cb_auth_token
        WHERE username = #{username}
    </delete>

    <update id="updateAuthTokenByUserId">
        UPDATE cb_auth_token
        SET token = #{token}
        WHERE username = #{username}
    </update>

</mapper>